body{
	background-color: green;
}

h1{
	color: blue;
	background-color: #FC9804;
}

table{
	color: #990000;
	background-color: green;
}
button{
	color: #990000;
	position:absolute;
	top: 450px;
	left: 250px;
	width: 120px
}
input{
	color: #990000;
	position:absolute;
	top: 450px;
	left: 450px;
	width: 120px
}



